---
import { twMerge } from 'tailwind-merge';
import WatchMethodsItem from './WatchMethodsItem.astro';
import { WatchMethod } from '../common/IconWatchMethod.astro';

interface Props {
  class?: string;
  vkLink?: string;
  youtubeLink?: string;
  rutubeLink?: string;
}

const {
  class: className = '',
  vkLink,
  youtubeLink,
  rutubeLink,
} = Astro.props as Props;
---

<ul class={twMerge(className)}>
  {vkLink && <li><WatchMethodsItem link={vkLink} watchMethod={WatchMethod.VK} /></li>}
  {youtubeLink && <li><WatchMethodsItem link={youtubeLink} watchMethod={WatchMethod.YouTube} /></li>}
  {rutubeLink && <li><WatchMethodsItem link={rutubeLink} watchMethod={WatchMethod.RuTube} /></li>}
</ul>
