---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';
// import Image from './Image.astro';

interface Props extends HTMLAttributes<'select'> {
  label?: string | undefined;
  placeholder?: string | undefined;
  options?: string[] | undefined;
  value?: string | undefined;
}

const { label, placeholder, name = label || placeholder, id = name, options = [], value } = Astro.props as Props;

---

<div class="flex flex-col gap-1 w-full">
  {label && <label for={id}>{label}</label>}
  {/* Wrapper for select with custom arrow icon */}
  <div class="relative">
    <select
      id={id}
      name={name}
      value={value}
      aria-label={label || placeholder}
      class="p-3 border border-[#D9D9D9] bg-[var(--aw-color-bg-page)] text-default placeholder-default selection:text-default focus:outline-none focus:ring-2 focus:ring-[#D9D9D9] appearance-none w-full"
    >
      {placeholder && (
        <option value="" disabled selected hidden style="background-color: var(--aw-color-bg-page);">
          {placeholder}
        </option>
      )}
      {options.map((opt) => (
        <option
          value={opt}
          selected={value === opt}
          style="background-color: var(--aw-color-bg-page);"
        >
          {opt}
        </option>
      ))}
    </select>
    {/* Custom arrow icon overlay */}
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
      <Icon name="utils/arrow-down" />
    </div>
  </div>
</div>
