---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'textarea'> {
  label?: string | undefined;
  rows?: number;
}

const { label, placeholder, name = label || placeholder, id = name, value, rows = 7 } = Astro.props as Props;
---

<div class="flex flex-col gap-1 w-full">
  <label for={id}>{label}</label>
  <textarea
    {id}
    {name}
    {placeholder}
    {value}
    {rows}
    aria-label={label || placeholder}
    class=`p-3 border border-[#D9D9D9] bg-transparent text-default placeholder-default selection:text-[#D9D9D9] focus:outline-none focus:ring-2 focus:ring-[#D9D9D9]`
  ></textarea>
</div>
